

<% if (title == "Home") { %>
<div>
        <h1 class="display-4 text-center">Welcome to My Portfolio Website</h1>
    <br>
    <br>
    <p class="text-center">My name is   RAMANDEEP KAUR </p>
    <br>
</div>
<% } %>


<% if (title == "About") { %>
<div class="row justify-content-center">
    <img style="margin-bottom:10px" src="/Assets/Images/Ramandeep.jpeg"/>
    <h3 class="col-lg-12 text-center">Ramandeep Kaur</h3>
    <p class="col-lg-12 text-center" >Software Engineer</p>
    <p class="col-lg-12 text-center">I am a graduate from CENTENNIAL College / University, with a Advance diploma in Software Engineering. 
        During my academic studies at college/university. 
        I have developed key technical skills in the area of programming, 
        object-oriented Analysis, Computing, google cloud platform, Testing, databases. 
        My soft interpersonal skills include Problem solving, Effective communication, Decision Making-operation, 
        Team work, Leadership These skills have developed my ability to perform Efficiently any work environment 
        My related work-experience include working on different projects during my studies. 
        My key interpersonal skills are dedication, patience and hard-work. 
        My other work experience includes customer service at party hall, security services at Garda World.  
        My years of experience in the area of _customer service, programming, testing, 
        working in teams will help me excel at this position and become a valued member of your team. 
        I am currently a volunteer at a Welfare Community.</p>

    <p class="col-lg-12 text-center"> I may be relatively new to the field and poses less experience with large scale applications, but eagerness for working in IT helps me complete any task assigned to me. I may not be as fast as experienced professionals, 
        but I believe that my willingness to always learn will help me in stepping up through my career ladder</p>
</div>
<% } %>


<% if (title == "Products") { %>
    <h1 class="display-4">My Projects</h1>
    <hr>
    <section id="projet1" class="">
        <br>
        <h3>FYI NEWS</h3>>
        <img style="margin-top:20px; margin-bottom: 30px;" src="/Assets/Images/Proj1.png"/>
        <p>Technologies: Web Api(Restful), Asp.net Web forms, Sql server 2012, JavaScript, bootstrap</p>
        <p>Details: Consumed restful Api form newsapi.org to display news in customized way on our site.</p>
        <p>My part – Designed UI screens and setup GitHub Repository</p>
    </section>
    <hr>
    <section id="project2">
        <br>
        <h3>SOCCER LEAGUE</h3>
        <img style="margin-top:20px; margin-bottom: 30px;" src="/Assets/Images/Proj2.png"/>
        <p>Soccer League website allow the users to arrange the matches according to their own schedule flexibility. It will give them the opportunity to choose the date and time of their own choice and the club they want to schedule the matches.</p>
        <p>My part – Designed UI screens and setup GitHub Repository</p>
    </section>
    <hr>
    <section id="project3">
        <br>
        <h3>TASK MANAGER</h3>
        <img style="margin-top:20px; margin-bottom: 30px;" src="/Assets/Images/Proj3.png"/>
        <p>An android app that helps project developers manage tasks and developers/workers in a project.In this Android application, users can register into the system as a developer, worker, tester, designer, project manager etc. The project manager can create a project and add users to that project. Once that is done, each user will be added to the project and the next time they open the app,they will see the project they are enrolled in. Then, each member can view and add tasks to be done. They can also mark a task as completed. All members can also add issues into the project which can be later be marked as resolved or deleted. When the project is complete, the project manager can mark the project completed.All database would be stored on the cloud so everyone can log in and access the application whenever they want. Internet connection would be required to use the application.</p>
        <p>My part – UI Development</p>
    </section>
<% } %>


<% if (title == "Services") { %>
    <h1 class="display-4">My Services</h1>
    <hr>
<section class="row">
    <div class="col-lg-4">
        <img style="width:300px; margin-bottom: 10px;" src="/Assets/Images/service1.jpg"/>
        <h3>Web Development</h3>
        <p>Developing user friednly web applications using HTML5, CSS and JS</p>
    </div>
    <div class="col-lg-4">
        <img style="width:300px; margin-bottom: 10px;" src="/Assets/Images/service2.png"/>
        <h3>.NET Development</h3>
        <p>Developing .NET applications such as Windows app, .NET Core application and Web Apps</p>
    </div>
    <div class="col-lg-4">
        <img style="width:300px; margin-bottom: 10px;" src="/Assets/Images/service3.jpeg"/>
        <h3>Angular Development</h3>
        <p>Developing awesome web user interfaces using angular js.</p>
    </div>
</section>
<% } %>

<% if (title == "Contact") { %>

<% } %>