

<% if (title == "Home") { %>
<div>
        <h1 class="display-4 text-center">Welcome to My Portfolio Website</h1>
    <br>
    <br>
    <p class="text-center">My name is   RAMANDEEP KAUR </p>
    <br>
    <p class="text-center">I am a graduate from CENTENNIAL College / University, with a Advance diploma in Software Engineering. 
        During my academic studies at college/university. 
        I have developed key technical skills in the area of programming, 
        object-oriented Analysis, Computing, google cloud platform, Testing, databases. 
        My soft interpersonal skills include Problem solving, Effective communication, Decision Making-operation, 
        Team work, Leadership These skills have developed my ability to perform Efficiently any work environment 
        My related work-experience include working on different projects during my studies. 
        My key interpersonal skills are dedication, patience and hard-work. 
        My other work experience includes customer service at party hall, security services at Garda World.  
        My years of experience in the area of _customer service, programming, testing, 
        working in teams will help me excel at this position and become a valued member of your team. 
        I am currently a volunteer at a Welfare Community.</p>
</div>
<% } %>


<% if (title == "Contact") { %>

<% } %>


<% if (title == "Contact") { %>

<% } %>


<% if (title == "Contact") { %>

<% } %>

<% if (title == "Contact") { %>

<% } %>