<!-- JavaScript Section -->
<!-- footer.js
Ramandeep Kaur
300973558
Fep 15, 2019 -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>