<!-- index.js
Ramandeep Kaur
300973558
Fep 15, 2019 -->

<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <% include ./partials/content.ejs %>
      </div>
    </div>

<% include ./partials/footer.ejs %>
